<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI Landing Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
            padding: 50px;
        }

        h1 {
            color: #2c3e50;
        }

        p {
            color: #7f8c8d;
        }
    </style>
</head>
<body>
<h1>{{ greeting }}</h1>

<div style="text-align: center">
    <a href="/docs">
        APIS Swager
    </a>
</div>


</body>
</html>
